<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Student Information System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-header th{
            font-weight: normal;
            font-size:smaller;
        }

        
    </style>
</head>
<body style="background-color: rgb(233, 233, 233);">
    <header>
        <nav class="navbar navbar-expand-lg p-2 bg-dark navbar-dark" >

            <div class="container-fluid">
                
                   
                    <a class="fs-4 fw-normal text-white" href="#"> SSIS<small>.v2</small></a>
                    
                
                    <ul class="nav nav-pills mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Programs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Colleges</a>
                        </li>
                    </ul>
            </div>
        </nav>
         
    </header>
    

    <div class="container-fluid mt-3">
        
        <div class="container ">

            <table class="table table-responsive table-bordered table-striped table-hover">
                <thead class="custom-header table-light fw-light">
                    <tr class="text-center ">
                        <th>#-ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>course</th>
                        <th>year</th>
                        <th>gender</th>
                    </tr>
                </thead>
            </table>

        </div>
        

    </div>
    



</body>
</html>