{% extends 'entity_templates.html' %}
{% block title %} Students {% endblock %}

    {% block header1 %} <h2>Students</h2> {%endblock%}
    {% block paragraph %}
    <p> Manage your Students and their Information</p>
    {% endblock %}

        {% block header2%}
                <h5 class="card-title" > Students(#)</h5>
        {% endblock %}

        {% block table_id %}student-table{% endblock %}

        {% block table_head %}

        {%endblock%}
        
        {% block pagination_id %} student-pagination {%endblock%}
        
        {% block pagination_items %}

        {%endblock%}
        
    

    