{% extends 'layout/entity_templates.html' %} {% block title %} Colleges {%
endblock %} {% block header1 %}
<h2>Colleges</h2>
{%endblock%} {% block paragraph %}
<p>Manage your Colleges and their Information</p>
{% endblock %} {% block header2%}
<h5 class="card-title">Colleges({{Total}})</h5>
{% endblock %} {% block label %} College {% endblock %} {% block table_id
%}college-table{% endblock %} {% block modal_target%}addCollegeModal{%endblock%}
{% block table_head %}
<tr>
  <th>College Code</th>
  <th>College Name</th>
  <th>Actions</th>
</tr>
{%endblock%} {% block table_body %} {% for c in colleges %}
<tr>
  <td>{{ c['college_code'] }}</td>
  <td>{{ c['college_name'] }}</td>
  <td>
    <button
      class="btn btn-sm btn-success"
      data-bs-toggle="modal"
      data-bs-target="#editCollegeModal-{{c['college_code']}}"
    >
      <i class="bi bi-pencil"> </i>
    </button>

    <button
      type="button"
      class="btn btn-sm btn-danger delete-btn"
      data-delete-url="{{ url_for('College.delete_college', college_code=c['college_code']) }}"
      data-item-name="college {{ c['college_code'] }}"
    >
      <i class="bi bi-trash"></i>
    </button>
  </td>
</tr>
{%endfor%} {% endblock %} {%block modals%} {% set modal_id = 'addCollegeModal'
%} {% set entity_name = 'College' %} {% set modal_title = 'Add College' %} {%
set action_url = url_for('College.add') %} {% set form = add_form %} {% include
'layout/form_modal.html' %} {% for c, form in college_forms %} {% set modal_id =
'editCollegeModal-' + c['college_code'] %} {% set entity_name = 'College' %} {%
set modal_title = 'Edit College' %} {% set action_url =
url_for('College.edit_college', college_code=c['college_code']) %} {% include
'layout/form_modal.html' %} {% endfor %} {%endblock%}
