{% extends 'entity_templates.html' %}
{% block title %} Programs {% endblock %}

    {% block header1 %} <h2>Programs</h2> {%endblock%}
    {% block paragraph %}
    <p> Manage your Programs and their Information</p>
    {% endblock %}

        {% block header2%}
                <h5 class="card-title" > Programs(#)</h5>
        {% endblock %}

        {% block table_id %}program-table{% endblock %}

        {% block table_head %}

        {%endblock%}

        {% block table_body %}
        {% endblock %}

        {% block pagination_id %} program-pagination {%endblock%}
        
        {% block pagination_items %}

        {%endblock%}